receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

processors:
  batch:
    send_batch_size: 1000
    timeout: 10s
    send_batch_max_size: 1500

exporters:
  clickhouse:
    endpoint: tcp://clickhouse:9000 # change this value to your actual clickhouse endpoint
    database: otel
    username: pulse_user
    password: pulse_password
    create_schema: false
    traces_table_name: otel_traces
    logs_table_name: otel_logs
    metrics_table_name: otel_metrics_gauge
    async_insert: true
    timeout: 10s
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s

  otlphttp/pulse:
    endpoint: http://pulse-server:8080 # Change this to the actual pulse-server endpoint
    tls:
      insecure: true
    compression: gzip
    retry_on_failure:
      enabled: false
    sending_queue:
      enabled: true
      queue_size: 1000

  debug:
    verbosity: detailed

connectors:
  routing/pulse:
    default_pipelines: [ logs/to-clickhouse ]
    table:
      - context: log
        statement: route() where attributes["pulse.type"] != nil and (attributes["pulse.type"] == "device.anr" or attributes["pulse.type"] == "device.crash" or attributes["pulse.type"] == "non_fatal")
        pipelines: [ logs/to-backend ]

service:
  extensions: [ health_check ]

  telemetry:
    logs:
      level: info
    metrics:
      level: detailed

  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ clickhouse, debug ]

    metrics:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ clickhouse, debug ]

    # Entry pipeline -> route via connector
    logs/in:
      receivers: [ otlp ]
      exporters: [ routing/pulse, debug ]

    # Matched pulse.type -> backend
    logs/to-backend:
      receivers: [ routing/pulse ]
      processors: [ batch ]
      exporters: [ otlphttp/pulse, debug ]

    # Everything else -> ClickHouse
    logs/to-clickhouse:
      receivers: [ routing/pulse ]
      processors: [ batch ]
      exporters: [ clickhouse, debug ]
