target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/**
**/*.iml
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### generated ###
**/generated/*
**/asciidoc/*
**/generated_doc_*
**/.cursor/

logs/*
.vscode
# .secrets is where we keep secrets required for local development
.secrets
creds.json
# .config is generated when mvn config:init is run
.config
*.env
local.env
*.bak

creds.json

#swagger resources
**/webroot/swagger/

execution.log
test-output/
TestReport/
/src/main/resources/symbolicate/

docs/
postman/

# Local E2E test scripts
test-scripts/
