.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.fieldLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--mantine-color-dark-7);
}

.fieldDesc {
  font-size: 12px;
  color: var(--mantine-color-gray-6);
}
